@import 'variables';

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.content {
	width: $content-width;
	height: 100%;
	margin: 0 auto;
	position: relative;

	&_full {
		width: $full-width;
	}

	&__title, &__description  {
		color: $dark-gray-color;
		font-family: $lato-font;
		font-weight: 900;
		font-size: 36px;
		text-transform: lowercase;
		text-align: center;
		padding-top: 60px;
	}

	&__description {
		font-weight: 300;
		font-size: 20px;
		padding-top: 0;
	}
}
body {
	background: #333;
}